html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: cursive;
}

header{
    background-color: #333;
    color: white;
    overflow: hidden;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 15%;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}